.border-shadow {
    box-shadow: 0 0px 11px rgb(72 79 99 / 30%);
}
a {
    cursor: pointer;
}
.radius-border {
    background-color: #f0f0f0;
    border-radius: 12px;
}
.right-border {
    border-right: 1px solid;
}
.double-border {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
.input-field {
    margin-left: 25%;
}
.label-style {
    min-width: 130px;
}
.left-style {
    width: 95px;
}
.labels {
    font-size: 1.125rem;
}
.w-49 {
    width: 48%;
}
.link-id {
    display: none;
}
.label-profile {
    margin-right: 15px;
}
#countryList{float:left;list-style:none;margin-top:-3px;padding:0;width:200px;position: absolute;}
#countryList li{padding: 8px; background: #f0f0f0; border-bottom: #bbb9b9 1px solid;}
#countryList li:hover{background:#ece3d2;cursor: pointer;}
.link-spouse {
    display: none;
}
.cut-icon {
    background-color: #ff4d4d;
    color: white;
    font-size: 18px;
    padding: 5px;
    border-radius: 6px;
    padding-left: 9px;
    padding-right: 9px;
    cursor: pointer;
}
.heading-less {
    font-size: 15px;
    font-weight: 100;
    padding-right: 5px;
    cursor: pointer;
}
.none-decoration {
    color: inherit !important;
    text-decoration: none !important;
}
.image-style {
    
    width: 30px;
}
.salary-input {
    width: 60%;

}
.year {
    width: 35%;
}
.sub-title-style {
    width: 100px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}